/* Create post container */
.create-post {
  margin-bottom: 16px;
}

/* Post card */
.post-card {
  border: 1px solid #ddd;
  padding: 12px;
  margin-top: 12px;
}

/* Post header */
.post-header {
  display: flex;
  justify-content: space-between;
}

/* Like button */
.like-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Red heart */
.liked-icon {
  color: red;
}

/* Comment button */
.comment-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.comments p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}

