body{
  margin:0;/*browsers add default margin 8px to body ,so if we dont remove it navbar 
  willnot touch screen edges,you will see unwanted white space*/
  font-family:Arial,sans-serif;/*safe font stack*/
  background:#f0f2f5
}
.navbar{
  background:#1817f2;
  color:white;
  padding: 15px;
  display:flex;
  justify-content: space-between;
}
.container{
width: 500px;
margin: 20px auto;
}
.create-post,.post{
  background: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom:15px;
}
textarea{
  width:100%;
  height:60px;
}
button{
  margin-top:10px;
  padding:5px 10px;
  cursor:pointer;
}